@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');


body {

    font-family: "Days One", "Roboto", sans-serif;
    text-align: center;
    background-color: lightblue;
    margin: 0;
    padding: 20px;
}

#pingBtn {
    background-color: Blue;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    cursor: pointer;
}